<form class="m-3">
  <div class="mb-3">
    <label for="firstName" class="form-label">First Name:</label>
    <input type="text" class="form-control" id="firstName" placeholder="Enter first name">
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Last Name:</label>
    <input type="text" class="form-control" id="lastName" placeholder="Enter last name">
  </div>
  <button type="submit" class="btn btn-primary">Submit temp</button>
</form>

<!-- Pass the formcontrole and from group as Input  -->
<dynamic-ui
[formControlsData]="formJson"
[form]="userForm"
></dynamic-ui>