<div class="container mt-5 position-relative">
  <div class="border-dark round p-2 cons-bg">
    <h1 class="m-3">Service Configuration</h1>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <dynamic-ui [formControlsData]="formJson" [form]="userForm"></dynamic-ui>
      <div>
        <button type="button" class="btn btn-width btn-warning btn-shadow-hover p-2 m-2">Save</button>
        <button type="button" class="btn btn-width btn-light me-2 btn-shadow-hover p-2 ">Cancel</button>
      </div>
    </form>
  </div>
</div>