<div [formGroup]="form">
    <label for="{{ control.name }}" class="form-label">{{ control.label }}</label>
    <input
      id="{{ control.name }}"
      type="number"
      class="form-control custom-input-height custom-input-style"
      [formControlName]="control.name"
      placeholder="{{ control.placeholder || '' }}"
      (blur)="form.get(control.name)?.markAsTouched()"
    />
    <!-- Validation message -->
    <div *ngIf="form.get(control.name)?.invalid && form.get(control.name)?.touched">
      <small>{{ getErrorMessage() }}</small>
    </div>
  </div>
