<div [formGroup]="form" class="m-2">
  <div *ngIf="formControlsData.controls.length > 0">
    <ng-container *ngFor="let control of formControlsData.controls">
      <div [ngSwitch]="control.type">

        <div *ngSwitchCase="'String'" class="mb-2">
          <label for="{{ control.name }}" class="form-label">
            {{ control.label }}
          </label>
          <input
          
            id="{{ control.name }}"
            type="text"
            class="form-control"
            [formControlName]="control.name"
          />
          <div *ngIf="form.get(control.name)?.touched && form.get(control.name)?.invalid" class="text-danger">
            <div *ngIf="form.get(control.name)?.errors?.['required']">This field is required.</div>
            <div *ngIf="form.get(control.name)?.errors?.['pattern']">Invalid format.</div>
          </div>
        </div>

        <div *ngSwitchCase="'Boolean'" class="form-check mb-2">
          <label for="{{ control.name }}" class="form-check-label">
            {{ control.label }}
          </label>
          <input
            id="{{ control.name }}"
            type="checkbox"
            class="form-check-input"
            [formControlName]="control.name"
          />
        </div>

        <div *ngSwitchCase="'Counter'" class="mb-2">
          <label for="{{ control.name }}" class="form-label">
            {{ control.label }}
          </label>
          <input
            id="{{ control.name }}"
            type="number"
            class="form-control"
            [formControlName]="control.name"
          />
        </div>

        <div *ngSwitchCase="'select'" class="mb-2">
          <label for="{{ control.name }}" class="form-label">
            {{ control.label }}
          </label>
          <select id="{{ control.name }}" class="form-control" [formControlName]="control.name">
            <option *ngFor="let option of control.options" [value]="option">
              {{ option }}
            </option>
          </select>
        </div>

        <div *ngSwitchCase="'list'" class="border rounded p-3 mb-2">
          <label class="form-label">
            {{ control.label }}
          </label>
          <button
            type="button"
            class="btn btn-primary mb-2 p-2 m-2"
            (click)="addList(control.controls, control.name, form)"
          >
            <i class="bi bi-plus-circle me-2"></i>Add List
          </button>
          <div [formArrayName]="control.name">
            <div
              *ngFor="let item of getFormArray(form, control.name).controls; let i = index"
              class="mb-2"
            >
              <div [formGroupName]="i" class="border rounded p-2">
                <button
                  type="button"
                  class="btn btn-danger btn-sm mb-2 p-2 m-2"
                  (click)="removeGroup(i, form, control.name)"
                >
                  <i class="bi bi-trash me-2"></i>Remove
                </button>
                <dynamic-ui
                  [form]="getFormArrayAtIndex(control.name, i, form)"
                  [formControlsData]="control"
                >
                </dynamic-ui>
              </div>
            </div>
          </div>
        </div>

        <div *ngSwitchCase="'group'" class="border rounded p-2 mb-2">
          <div [formGroupName]="control.name">
            <label class="form-label">
              {{ control.label }}
            </label>
            <dynamic-ui
              [form]="getFormGroup(form, control.name)"
              [formControlsData]="control"
            >
            </dynamic-ui>
          </div>
        </div>

      </div>
    </ng-container>
  </div>
</div>
