<div [formGroup]="form" class="m-4">
  <div *ngIf="formControlsData.controls.length > 0">
    <ng-container *ngFor="let control of formControlsData.controls">
      <div [ngSwitch]="control.type">
        <div *ngSwitchCase="'String'">
          <label>{{ control.label }}</label>
          <input
            id="{{ control.name }}"
            type="text"
            class="form-control"
            [formControlName]="control.name"
          />
        </div>

        <div *ngSwitchCase="'Boolean'">
          <label>{{ control.label }}</label>
          <input
            id="{{ control.name }}"
            type="checkbox"
            class="form-check-input"
            [formControlName]="control.name"
          />
        </div>

        <div *ngSwitchCase="'Counter'">
          <label>{{ control.label }}</label>
          <input
            id="{{ control.name }}"
            type="number"
            class="form-control"
            [formControlName]="control.name"
          />
        </div>

        <div *ngSwitchCase="'select'">
          <label>{{ control.label }}</label>
          <select id="{{ control.name }}" class="form-control" [formControlName]="control.name">
            <option *ngFor="let option of control.options" [value]="option">
              {{ option }}
            </option>
          </select>
        </div>

        <div *ngSwitchCase="'list'" class="border rounded m-2">
            <label>{{ control.label }}</label>
            <button type="button" (click)="addList(control.controls, control.name, form)">Add List</button>
            <div *ngIf="checkArrayStatue">
              <div [formArrayName]="control.name">
              <div *ngFor="let item of getFormArray(form, control.name).controls; let i = index">
                <div [formGroupName]="i">
                  <!-- // need to send the value of ith index  -->
                  <dynamic-ui
                    [form]="getFormArrayAtindex(control.name,i,form)"
                    [formControlsData]="control">
                  </dynamic-ui>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div *ngSwitchCase="'group'" class="border rounded m-1">
          <div [formGroupName]="control.name">
            <label>{{ control.label }}</label>
            <dynamic-ui
              [form]="getFormGroup(form, control.name)"
              [formControlsData]="control">
            </dynamic-ui>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>