small {
    color: #d9534f;
    font-size: 0.875rem;
  }

  input.ng-invalid.ng-touched {
    border-color: #d9534f; /* Red border for invalid input */
    box-shadow: none; /* Optional: Remove the default input shadow */
  }
